@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* #0274ba - синій світлий */
/* #26318d - синій темний */
/* #f6cb1d - жовтий світлий */
/* #f7a400 - жовтий темний */
/* #b6510b - коричневий */

body {
  transition: background-color 0.5s ease, color 0.5s ease;
  /* font-family: "Kanit", sans-serif; */
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-family: inherit;
}

@layer utilities {
  /* Налаштування ширини скроллбару */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  /* Доріжка, по якій рухається повзунок */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(31, 41, 55, 0.5);
    border-radius: 8px;
  }

  /* Сам повзунок */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 8px;
    transition: background 0.2s ease-in-out;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f59e0b;
  }
}
